        <footer>
            <div class="row">
                <div class="col-md-7">
                    <%=configuration.copyright %>
                </div>
                <div class="col-md-5">
                    <div class="last-loginf  pull-right">Design & Development By :
                        <span class="text-primary"><a target="_blank" href="http://7einfotech.com">7Einfotech</a></span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="<%=assetsLocation%>/js/jquery-3.3.1.js"></script>
<script src="<%=assetsLocation%>/js/bootstrap.min.js"></script>
<script src="<%=assetsLocation%>/js/jquery.nicescroll.js"></script>
<script src="<%=assetsLocation%>/js/jquery.dataTables.min.js" ></script>
<script src="<%=assetsLocation%>/js/dataTables.bootstrap.min.js" ></script>
<script src="<%=assetsLocation%>/js/dataTables.buttons.min.js" ></script>
<script src="<%=assetsLocation%>/js/dataTable/dataTables.responsive.min.js"></script>
<script src="<%=assetsLocation%>/js/buttons.bootstrap.min.js" ></script>
<script src="<%=assetsLocation%>/js/jszip.min.js" ></script>
<script src="<%=assetsLocation%>/js/pdfmake.min.js" ></script>
<script src="<%=assetsLocation%>/js/vfs_fonts.js" ></script>
<script src="<%=assetsLocation%>/js/buttons.html5.min.js" ></script>
<!-- <script src="<%=assetsLocation%>/js/buttons.print.min.js" ></script> -->
<!-- <script src="<%=assetsLocation%>/js/buttons.colVis.min.js" ></script> -->
<script src="<%=assetsLocation%>/js/bootstrap-datepicker.min.js"></script>
<script src="<%=assetsLocation%>/js/jquery.validationEngine.js"></script>
<script src="<%=assetsLocation%>/js/jquery.validationEngine-en.js"></script>
<script src="<%=assetsLocation%>/js/scripts.js"></script>
<script src="<%=assetsLocation%>/js/jquery.preloader.js"></script>
<script src="<%=assetsLocation%>/js/jquery.tabledit.js"></script>
<script src="<%=assetsLocation%>/js/jquery.unserialize.js"></script>
<% if(routerUsed == 'dashboard') {%>    
    <script src="<%=assetsLocation%>/js/dashboard.js"></script>
<% }  %>
</html>