<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title> Gemls - Shipping Tracking</title>
    <link rel="icon" href="<%=assetsLocation%>/favicon.ico" type="image/x-icon">
    <link href="<%=assetsLocation%>/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/dataTable/jquery.dataTables.min.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/bridges-style.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/bridges-responsive-style.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/custom-style.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/preloader.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/dataTable/editor.dataTables.min.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/dataTable/select.dataTables.min.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/dataTable/responsive.dataTables.min.css" rel="stylesheet">
    <link href="<%=assetsLocation%>/css/validationEngine.jquery.css" rel="stylesheet">
</head>
<body class="header">
    <div class="main_container full-wrapper">